body {
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif;
  color: #363935;
  background-image: url("/static/pexels-ella-olsson-1640772.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed; /* Changed to fixed to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Ensures it covers the viewport */
  background: rgba(255, 255, 255, 0.7); /* White overlay with 70% opacity */
  z-index: -1; /* Ensure it is behind other elements */
}

h1,
h2,
h3,
h4,
h5 {
  color: #363935;
}

.hidden {
  display: none;
}

.hero {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Remove the background image from the .hero::before element */
.hero::before {
  content: "";
  opacity: 0; /* Adjust opacity as needed */
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(
    122,
    122,
    122,
    0.5
  ); /* Add a background color if you want a darker overlay */
}

.container-fluid {
  background-color: #fafafa;
  font-size: 20px;
  margin: 5px;
  font-size: 19px;
}

.container-fluid:hover {
  color: #953a17;
}
.navbar-brand {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar {
  z-index: 1000;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  color: #953a17;
}

.navbar-brand:hover {
  color: #b87054;
}

.btn {
  background-color: #953a17;
  color: #fafafa;
}

.btn:hover {
  color: #953a17;
}

.btn-custom-secondary {
  text-align: right;
}

.card {
  margin-right: 30px;
  margin-left: 30px;
  padding: 10px;
}

#userForm {
  line-height: 30px;
  margin-top: 50px;
}

.post-link {
  color: #363935;
  text-decoration: none;
}

.post-link:hover {
  color: #953a17;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .container-fluid {
    font-size: 14px;
  }

  .row.cards-container {
    margin-top: 800px;
  }

  .navbar {
    padding: 10px;
  }

  .navbar-brand {
    font-size: 20px;
  }

  .navbar-toggler {
    color: #953a17;
    border-color: #953a17;
  }

  .navbar-nav {
    text-align: center;
    padding-top: 10px;
  }

  .navbar-nav a {
    display: block;
    padding: 10px;
    color: #953a17;
    text-decoration: none;
  }

  .navbar-nav a:hover {
    background-color: #fafafa;
    color: #b87054;
  }

  .add-recipe {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .container-fluid {
    font-size: 16px;
  }

  .navbar-brand {
    font-size: 24px;
  }

  .add-recipe {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1900px) {
  .container {
    width: 1870px;
  }

  .main-recipe {
    margin-top: 100px;
    margin-bottom: 50px;
  }
}
